<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/fondo.css">
    <link rel="icon" href="/images/logo2.png" type="image/png">
    <title>Mi Salud Digital</title>
</head>

<body>
    <header th:replace="~{fragments/header :: head}"></header>
    <div class="container">

        <div class="container col-md-4 text-center contenedor-formulario-login">


            <form class="FormRegistro mi-formulario" th:action="@{/logincheck}" method="post">

                <h2><div class="titulo">Login 🔑</div></h2>

                <div class="form-group mb-2">
                    <input type="email" class="form-control" id="email" name="email" required placeholder="EMAIL" />
                </div>

                <div class="form-group mb-2">
                    <input type="password" class="form-control" id="password" name="password" required placeholder="CONTRASEÑA" />
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
                

                <!-- Mensajes Condicionales -->
                <!-- <div th:if="${error != null}">
                    <div class="alert text-center alert-danger fade show" role="alert">
                        <strong>ERROR</strong>
                        <p th:text="${error}"></p>
                    </div>
                </div>
                <div th:if="${exito != null}">
                    <div class="alert text-center alert-success fade show" role="alert">
                        <strong>EXITO</strong>
                        <p th:text="${exito}"></p>
                    </div>
                </div> -->
                <!-- Mensajes Condicionales -->
            </form>
            <div class="text-center">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="text-center">
                        <img width="400" src="/images/indexsalud.jpg" class="img-responsive" alt="...">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="/images/indexcardiologia.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/images/indexclinica.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/images/indexginecologia.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/images/indexpediatria.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
          
              </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>