<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/fondo.css">
    <link rel="icon" href="/images/logo2.png" type="image/png">

    <title>Mi Salud Digital</title>
</head>

<body>
    <header th:replace="~{fragments/header :: head}"></header>

    <form th:action="@{/profesional/registroHistoriaClinicaPaciente/__${usuario.idUsuario}__}" method="post">
       
            
            
            <div class="formulario-historia-clinica">
                    
                
                <h3> Ingresar historia Clinica</h3>
                <br>
               
                
                <div class="mb-3">  
                    <!--Mediante la sesion del usuario vamos a acceder a los atributos del 
                    profesional(que se seteo anteriormente)-->
                    <label for="especialidad" class="form-label">Especialidad</label>
                    <input type="text" class="form-control" id="especialidad" name="especialidad"
                     th:value="${session.usuariosession.profesional.especialidadProfesional}" 
                     readonly/>
                </div>
                <div class="mb-3">
                    <label for="matriculaAtencionProfesional" class="form-label"> matricula de
                        profesional</label>
                    <input type="number" class="form-control" id="matriculaAtencionProfesional"
                        name="matriculaAtencionProfesional"
                        th:value="${session.usuariosession.profesional.matriculaProfesional}"
                        readonly />
                </div>
                
                
                <div class="mb-3">
                    <label for="fechaDeAtencion" class="form-label">Ingrese fecha</label>
                    <input type="date" class="form-control" id="fechaDeAtencion" name="fechaDeAtencion" />
                </div>
                <div class="mb-3">
                    <label for="prepaga" class="form-label">Obra social</label>
                    <input type="text" class="form-control" id="prepaga" name="prepaga"
                    th:value="${usuario.paciente.obraSocial}" />
                </div>
                <div class="mb-3">
                    <label for="historialMedico" class="form-label">Historia Clinica</label>
                    <textarea name="historialMedico" id="historialMedico" cols="50" rows="5"
                    placeholder="ej: el paciente se atendio por fiebre en conclusion se receto un parecetamol cada 8hs" 
                    ></textarea>
                </div>


                <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    </div>
    <!--
    <h2 th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombreUsuario}"></h2>-->


    <div class="container my-1">
        <!-- Mensajes Condicionales -->
        <div th:if="${error != null}">
            <div class="alert text-center alert-danger fade show" role="alert">
                <strong>ERROR</strong>
                <p th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}">
            <div class="alert text-center alert-success fade show" role="alert">
                <strong>EXITO</strong>
                <p th:text="${exito}"></p>
            </div>
        </div>
        <!-- Mensajes Condicionales -->
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>